<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <div class="title"><a href="signup">LOGIN</a> </div>
                    <div class="form">
                            {{#if hasErrors}}
                                <div class="alert alert-danger">
                                    {{# each messages}}
                                        <p>{{this}}</p>
                                    {{/each}}
                                </div>

                            {{/if}}

                        <form action="../user/signin" method="post">
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="email">
                        </div>
                        <div class="input-group">
                           <input class="input--style-3" type="password" placeholder="Password" name="password">
                        </div>
                         <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>
                      </form><br>
                       <h6 style="color: white">Haven't registered? <a href="/user/signup" style="color: white"> Click Here </a></h6>
                      </div>

            </div>

        </div>
    </div>
