
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/bg_2.jpg);">
					    <figure>
						    <img src="/images/product-5.jpg" alt="Image placeholder" class="img-fluid">
						</figure>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-5 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4 ">ABOUT US</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>N&K is an Indian (mumbai-based) fast fashion e-commerce platform. The company mainly focuses on women's wear, but it also offers men's apparel, children's clothes, accessories, shoes, bags and other fashion items. SHEIN mainly targets Europe, America, Australia, and the Middle East along with other consumer markets. The brand was founded in October 2008, and since then it has upheld the philosophy that "everyone can enjoy the beauty of fashion." Its business covers more than 220 countries and regions around the world..</p>
							<p>N&K prides itself on offering on-trend styles catering to both young women and teens, that won’t break the bank. N&K adheres to the concept that "everyone can enjoy the beauty of fashion." N&K is able to stay on top of the latest fashion trends from around the globe while rapidly bringing these styles to market. So whether you're searching for boho dresses and graphic tees or patterned blouses and chic swimwear, N&K is the ultimate one-stop-shop for the modern yet economical fashionista. It aims to promptly offer stylish quality products at appealing prices to every user in the world.</p>
						</div>
					</div>
				</div>
			</div>
		</section>


    <section class="ftco-section testimony-section bg-light">
      <div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Testimony</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">We've ordered a couple times now. This is my teens place for swim suites! She is SO happy with the 5 she just got!</p>
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(/images/person_2.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">All the clothes fit perfectly abd are very comfortable, there are also a wide variety of accesories and styles to choose from!</p>
		                    <p class="name">Peter Fernandes</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>


		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(/images/person_3.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">My orders have all been amazing! Real deal hesitation not needed . Go for it !</p>
		                    <p class="name">Brad Pitt</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>




    