<div class="container">
    <div class="row ">
        <div class="col-lg-12 align-content-center">
            <div class="alert alert-danger align-content-center">
                <div class="align-content-center"><strong>Your card was declined.</strong></div>
            </div>
        </div>
    </div>
</div>