<div class="site-section  pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-7 section-title text-center mb-5">
            <div class="alert alert-success ">
                <div class="align-content-center"><strong>Thank you for buying.<br> Your order will reach you in 7 Business Days.</strong></div>
            </div>
        </div>
    </div>
</div>
</div>
